
/* =========================
   Navbar Styles
========================= */

/* Light grey background for navbar */
.navbar {
  background-color: #f2f2f2; /* light grey */
  border: none;              /* optional: remove default border */
}

/* Tall section background + height */
.tall-section {
  background-color: #f2f2f2;
  height: 1000px;     /* Tall enough to require scrolling */
  padding: 20px;
}

/* Mobile dropdown menu background */
.navbar-collapse {
  background-color: #eee; 
}

